{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'selectradioproject/style.css'%}" type="text/css" />
    <link
      rel="stylesheet"
      href="{% static 'selectradioproject/style2.css' %}"
      type="text/css"
    />
    <title>Detail</title>
  </head>
  <body>
    <div class="title">
      <h1>{{ question.question_text }}</h1>
    </div>
    {%if question.id%}
    <div style="margin-left: 39px;">
      <form action="{% url 'selectradioproject:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          {% for choice in question.choice_set.all %}
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}" class="choice_text">{{ choice.choice_text }}</label><br>
          {% endfor %}
        </fieldset>
<div style="display: flex;">
  <a href="{% url 'selectradioproject:index'%}" class="back">back</a>
  <div style="margin: 5rem;"></div>
  <input type="submit" value="Select" class="submit">
</div>
      </fieldset>
    </form> 
    {%else%}
    <p>No question available.</p>
    {%endif%}
  </div>
  </body>
  </html>
  