{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'selectradioproject/style.css'%}"
      type="text/css"
    />
    <title>Index</title>
  </head>
  <body>
    <div class="title">
      <h1 class="index">SelectradioProgram</h1>
      <img
        src="{% static 'selectradioproject/svg/redhair-svgrepo-com.svg'%}"
        alt="Red Hair SVG"
        id="redhair"
      />
    </div>
    {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list %}

      <div class="question_box">
        <button class="question">
          <span class="crayon">
            <a href="{% url 'selectradioproject:detail' question.id %}"
              >{{ question.question_text